@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<ul>
    @foreach (var col in Model.colorList)
    {
        <li>
            <form method="post">
                <div><label>Title: <input type="text" name="updateColor.ShortCode" value="@col.ShortCode" /></label></div>
                <div><label>Description: <input type="text" name="updateColor.Name" value="@col.Name" /></label></div>
                <div><label>Date: <input type="text" name="updateColor.RGB" value="@col.RGB" /></label></div>
                @*<div><label>Done: <input type="checkbox" name="color.check" checked="@col.check" /></label></div>*@
                <td>@Html.CheckBoxFor(Model => col.check)</td>
                <input type="submit" value="Update" />
            </form>
            <form asp-page="Colordelete" method="post">
                <input type="hidden" value="@col.ShortCode" name="updateColor.ShortCode" />
                <input type="hidden" value="@col.Name" name="updateColor.Name" />
                <input type="hidden" value="@col.RGB" name="updateColor.RGB" />
                <input type="hidden" value="@col.time" name="updateColor.time" />
                <input type="hidden" value="@col.check" name="updateColor.check"/>
                <input type="Submit" value="Delete" />
            </form>
        </li>

    }
</ul>

<form method="Get">
    <label>Title: <input type="text" name="color.ShortCode" /></label>
    <label>Descriptioin: <input type="text" name="color.Name" /></label>
    @*<label>Date: @DateTime.Now</label>*@
    <label>Date: <input type="datetime" name="color.RGB" value="@DateTime.Now" /></label>
    <label>
        Done:
        @Html.CheckBoxFor(m => Model.color.check)
    </label>
    <input type="submit" />
</form>

